/* ---------------------
GLOBALS
------------------------ */
:root {
  --light-grey-text: #868a8a;
  --orange-deli: #ff8000;
  --grey-inactiv: #939696;
  --vert-deli: #00ccbc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e3333;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  /* background-color: yellow; */
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
h3 {
  font-size: 18px;
  line-height: 16px;
}
/* ---------------------
HEADER
------------------------ */
.header {
  /* background-color: rgb(179, 221, 193); */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ---- Top Bar ----*/
.topBar {
  display: flex;
  text-align: left;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
  width: 100%;
}

.logo {
  height: 95%;
  margin-left: 20px;
}

/* ---- Resto top infos ----*/

.restoTopInfos {
  display: flex;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  /* background-color: aqua; */
  padding: 30px 0px;
}

.col1-text {
  padding-right: 50px;
}

.pictureTop img {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.text-desc {
  font-size: 19px;
  color: #868a8a;
}

/* ---------------------
CONTENT 
------------------------ */
.content {
  background-color: #f2f5f5;
  height: 100%;
  width: 100vw;
}

/* ---- Menus ----*/

.menus {
  width: 70%;
  /* background-color: rgb(216, 187, 223); */
}
.menuItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.menu-items {
  /* background-color: red; */
}

.menu-item {
  width: 50%;
  min-width: 300px;
  margin-bottom: 20px;
}

.menu-item :not(even) {
  margin-right: 20px;
}

.menu-item-card {
  border-radius: 5px;
  background-color: white;
  height: 160px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.menu-item-card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 30px rgb(190, 189, 189);
}

.card-text {
  margin-right: 10px;
}

.card-infos {
  display: flex;
  align-items: center;
}

.card-text-desc {
  width: 100%;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  color: var(--light-grey-text);
  line-height: 20px;
}

.card-infos {
  margin-top: 30px;
}
.card-picture img {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  object-fit: cover;
}
.price {
  color: var(--light-grey-text);
  font-size: 17px;
}

.popular {
  color: var(--orange-deli);
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
}

/* ---- Cart ----*/

.cart {
  width: 30%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  border-radius: 10px;
  margin-top: 20px;
}

.btValidDisable {
  border: none;
  background-color: var(--light-grey-text);
  border-radius: 5px;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  cursor: not-allowed;
}

.btValid {
  border: none;
  background-color: var(--vert-deli);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  cursor: pointer;
}

.cart-empty {
  color: var(--light-grey-text);
  margin: 50px 0;
}
.cart-valid {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.cart-line {
  display: flex;
  background-color: red;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
